
<li id="micropost-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content">
    <%= comment.content %>
  </span>
  <span class="timestamp">
    posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user?(comment.user) %>
      <%= link_to "delete", comment, method: :delete,
                                              data: {confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
