<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :micropost_id, value: params[:id] %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Add comment", class: "btn btn-primary" %>
<% end %>