<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= render "users_search" %>
<%= will_paginate %>
<ul class="users">
    <%= render @result.present? ? @result : @users %>
</ul>
<%= will_paginate %>

