<% provide(:title,"Comments")%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'comments/comment_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost</h3>
      <ol class="microposts">
        <%= render @micropost %>
      </ol>
      <h3>Comments (<%= @micropost.comments.count %>)</h3>
      <ol class="microposts">
        <% unless @micropost.comments.count == 0 %>
         <%= render @comments %>
        <% end %>
        <%= will_paginate @comments %>
      </ol>
    </div>
  </div>
 